## Preprocessing

In [16]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [17]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Determine the number of unique values in each column.

unique_count = application_df.nunique()
# Display the result
print(unique_count)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [19]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
# Display "APPLICATION_TYPE" as a DataFrame
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()


## Display the result
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [20]:
#scratch work
application_type_counts.iloc[8:]

APPLICATION_TYPE
T9     156
T13     66
T12     27
T2      16
T25      3
T14      3
T29      2
T15      2
T17      1
Name: count, dtype: int64

In [21]:
#scratch work
replace_list = list(application_type_counts.iloc[8:].index)
replace_list

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [29]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

cutoff_value_application = 528
application_types_to_replace = list(application_type_counts.iloc[8:].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
CLASSIFICATION_counts = application_df["CLASSIFICATION"].value_counts()

# Display the result
CLASSIFICATION_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1

# Filter classifications with counts greater than 1
classifications_cleaned  = CLASSIFICATION_counts.loc[CLASSIFICATION_counts>1]

# Display the filtered classifications
print("Classifications with counts greater than 1:")
print(classifications_cleaned)

Classifications with counts greater than 1:
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [28]:
#scratch work

CLASSIFICATION_counts.iloc[5:].index

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256',
       'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150'],
      dtype='object', name='CLASSIFICATION')

In [30]:
# Choose a cutoff value and create a list of classifications to be replaced

cutoff_value_classifications = 1883
# use the variable name `classifications_to_replace`
classifications_to_replace = list(CLASSIFICATION_counts.iloc[5:].index)




# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other_claasifications")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000                    17326
C2000                     6074
C1200                     4837
Other_claasifications     2261
C3000                     1918
C2100                     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

In [31]:
#display the dataframe
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [33]:
#dispay the datatypes

application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [34]:
# make a list of the columns contains object values
categorical_list = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
categorical_list

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [36]:
#convert the categorical data in numeric using get_dummies()
dummies = pd.get_dummies(application_df)
# Convert boolean to integer
dummies = dummies.astype(int)

dummies.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [40]:
#scratch work
application_df['IS_SUCCESSFUL'].values

array([1, 1, 0, ..., 0, 1, 0])

In [41]:
#scratch work
xtemp = application_df.drop(columns='IS_SUCCESSFUL')
xtemp.values

array([['T10', 'Independent', 'C1000', ..., '0', 'N', 5000],
       ['T3', 'Independent', 'C2000', ..., '1-9999', 'N', 108590],
       ['T5', 'CompanySponsored', 'C3000', ..., '0', 'N', 5000],
       ...,
       ['T3', 'CompanySponsored', 'C2000', ..., '0', 'N', 5000],
       ['T5', 'Independent', 'C3000', ..., '0', 'N', 5000],
       ['T3', 'Independent', 'C1000', ..., '1M-5M', 'N', 36500179]],
      dtype=object)

In [42]:
#scratch work
dummies['IS_SUCCESSFUL'].values

array([1, 1, 0, ..., 0, 1, 0])

In [43]:
#scratch work
xtemp2 = dummies.drop(columns='IS_SUCCESSFUL').values
xtemp2

array([[       1,     5000,        0, ...,        0,        1,        0],
       [       1,   108590,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       ...,
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1, 36500179,        0, ...,        0,        1,        0]])

In [54]:
# Split our preprocessed data into our features and target arrays

y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values



# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [55]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

[[     1 970099      0 ...      0      1      0]
 [     1   5000      0 ...      0      1      0]
 [     1  34538      0 ...      0      1      0]
 ...
 [     1   5000      0 ...      0      1      0]
 [     1   5000      0 ...      0      1      0]
 [     1   5000      0 ...      0      1      0]]

## Compile, Train and Evaluate the Model

In [57]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# Input features total
input_features_total = X_train.shape[1]
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5


# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation='relu', input_shape=(input_features_total,)))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation='relu'))

# Output layer

nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn_model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 8)                                352

 dense_1 (Dense)                       (None, 5)                                 45

 dense_2 (Dense)                       (None, 1)                                  6

 Total params: 403 (1.57 KB)

 Trainable params: 403 (1.57 KB)

 Non-trainable params: 0 (0.00 B)

In [58]:
# Compile the model
nn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [59]:
# Train the model
nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  2s 2ms/step - accuracy: 0.6546 - loss: 0.6686
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7204 - loss: 0.5718
Epoch 3/100
804/804  2s 2ms/step - accuracy: 0.7236 - loss: 0.5619
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7301 - loss: 0.5567
Epoch 5/100
804/804  2s 2ms/step - accuracy: 0.7300 - loss: 0.5536
Epoch 6/100
804/804  1s 2ms/step - accuracy: 0.7310 - loss: 0.5531
Epoch 7/100
804/804  3s 2ms/step - accuracy: 0.7297 - loss: 0.5504
Epoch 8/100
804/804  2s 1ms/step - accuracy: 0.7324 - loss: 0.5521
Epoch 9/100
804/804  2s 2ms/step - accuracy: 0.7294 - loss: 0.5512
Epoch 10/100
804/804  3s 2ms/step - accuracy: 0.7309 - loss: 0.5520
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7296 - loss: 0.5481
Epoch 12/100
804/804  1s 2ms/step - accuracy: 0.7276 - loss: 0.5510
Epoch 13/100
804/804  1s 2ms/step - accuracy: 0.7293 - loss: 0.5514
Epoch 14/100
804/804  1s 2ms/step - accuracy: 0.7283 - loss: 0.5486
Epoch 15/100
804/804  2s 2ms/step - accuracy: 0.7318 - loss: 0.5506
Epoch 16/100
804/804  3s 2ms/step - accuracy: 0.7252 - loss: 0.5535
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.7266 - loss: 0.5529
Epoch 18/100
804/804  2s 1ms/step - accuracy: 0.7277 - loss: 0.5529
Epoch 19/100
804/804  1s 2ms/step - accuracy: 0.7326 - loss: 0.5443
Epoch 20/100
804/804  1s 2ms/step - accuracy: 0.7286 - loss: 0.5500
Epoch 21/100
804/804  1s 2ms/step - accuracy: 0.7322 - loss: 0.5457
Epoch 22/100
804/804  3s 1ms/step - accuracy: 0.7342 - loss: 0.5453
Epoch 23/100
804/804  2s 2ms/step - accuracy: 0.7278 - loss: 0.5515
Epoch 24/100
804/804  3s 2ms/step - accuracy: 0.7262 - loss: 0.5512
Epoch 25/100
804/804  2s 2ms/step - accuracy: 0.7279 - loss: 0.5489
Epoch 26/100
804/804  1s 2ms/step - accuracy: 0.7353 - loss: 0.5410
Epoch 27/100
804/804  2s 2ms/step - accuracy: 0.7293 - loss: 0.5451
Epoch 28/100
804/804  3s 2ms/step - accuracy: 0.7316 - loss: 0.5481
Epoch 29/100
804/804  3s 3ms/step - accuracy: 0.7307 - loss: 0.5510
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.7290 - loss: 0.5510
Epoch 31/100
804/804  1s 2ms/step - accuracy: 0.7324 - loss: 0.5453
Epoch 32/100
804/804  1s 2ms/step - accuracy: 0.7351 - loss: 0.5436
Epoch 33/100
804/804  3s 2ms/step - accuracy: 0.7367 - loss: 0.5401
Epoch 34/100
804/804  1s 2ms/step - accuracy: 0.7332 - loss: 0.5428
Epoch 35/100
804/804  1s 2ms/step - accuracy: 0.7345 - loss: 0.5426
Epoch 36/100
804/804  1s 2ms/step - accuracy: 0.7353 - loss: 0.5459
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7351 - loss: 0.5446
Epoch 38/100
804/804  3s 2ms/step - accuracy: 0.7369 - loss: 0.5417
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.7326 - loss: 0.5477
Epoch 40/100
804/804  3s 3ms/step - accuracy: 0.7324 - loss: 0.5446
Epoch 41/100
804/804  1s 2ms/step - accuracy: 0.7312 - loss: 0.5476
Epoch 42/100
804/804  1s 2ms/step - accuracy: 0.7283 - loss: 0.5510
Epoch 43/100
804/804  3s 2ms/step - accuracy: 0.7376 - loss: 0.5393
Epoch 44/100
804/804  3s 2ms/step - accuracy: 0.7365 - loss: 0.5436
Epoch 45/100
804/804  1s 2ms/step - accuracy: 0.7350 - loss: 0.5446
Epoch 46/100
804/804  2s 1ms/step - accuracy: 0.7351 - loss: 0.5403
Epoch 47/100
804/804  1s 2ms/step - accuracy: 0.7326 - loss: 0.5438
Epoch 48/100
804/804  3s 2ms/step - accuracy: 0.7320 - loss: 0.5482
Epoch 49/100
804/804  3s 2ms/step - accuracy: 0.7290 - loss: 0.5467
Epoch 50/100
804/804  3s 2ms/step - accuracy: 0.7268 - loss: 0.5488
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.7334 - loss: 0.5464
Epoch 52/100
804/804  1s 2ms/step - accuracy: 0.7362 - loss: 0.5423
Epoch 53/100
804/804  3s 2ms/step - accuracy: 0.7316 - loss: 0.5444
Epoch 54/100
804/804  3s 2ms/step - accuracy: 0.7308 - loss: 0.5456
Epoch 55/100
804/804  1s 2ms/step - accuracy: 0.7273 - loss: 0.5498
Epoch 56/100
804/804  4s 4ms/step - accuracy: 0.7321 - loss: 0.5435
Epoch 57/100
804/804  4s 3ms/step - accuracy: 0.7312 - loss: 0.5491
Epoch 58/100
804/804  3s 3ms/step - accuracy: 0.7282 - loss: 0.5497
Epoch 59/100
804/804  4s 2ms/step - accuracy: 0.7354 - loss: 0.5405
Epoch 60/100
804/804  1s 2ms/step - accuracy: 0.7288 - loss: 0.5483
Epoch 61/100
804/804  2s 2ms/step - accuracy: 0.7324 - loss: 0.5437
Epoch 62/100
804/804  1s 2ms/step - accuracy: 0.7295 - loss: 0.5507
Epoch 63/100
804/804  3s 2ms/step - accuracy: 0.7334 - loss: 0.5428
Epoch 64/100
804/804  3s 2ms/step - accuracy: 0.7345 - loss: 0.5437
Epoch 65/100
804/804  3s 2ms/step - accuracy: 0.7356 - loss: 0.5428
Epoch 66/100
804/804  2s 2ms/step - accuracy: 0.7317 - loss: 0.5430
Epoch 67/100
804/804  3s 2ms/step - accuracy: 0.7367 - loss: 0.5419
Epoch 68/100
804/804  1s 2ms/step - accuracy: 0.7361 - loss: 0.5416
Epoch 69/100
804/804  1s 2ms/step - accuracy: 0.7339 - loss: 0.5459
Epoch 70/100
804/804  2s 1ms/step - accuracy: 0.7329 - loss: 0.5437
Epoch 71/100
804/804  2s 2ms/step - accuracy: 0.7313 - loss: 0.5454
Epoch 72/100
804/804  2s 3ms/step - accuracy: 0.7285 - loss: 0.5510
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.7327 - loss: 0.5427
Epoch 74/100
804/804  3s 2ms/step - accuracy: 0.7326 - loss: 0.5423
Epoch 75/100
804/804  3s 2ms/step - accuracy: 0.7344 - loss: 0.5432
Epoch 76/100
804/804  3s 2ms/step - accuracy: 0.7375 - loss: 0.5410
Epoch 77/100
804/804  2s 2ms/step - accuracy: 0.7309 - loss: 0.5440
Epoch 78/100
804/804  3s 2ms/step - accuracy: 0.7350 - loss: 0.5418
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7292 - loss: 0.5462
Epoch 80/100
804/804  1s 2ms/step - accuracy: 0.7384 - loss: 0.5374
Epoch 81/100
804/804  3s 2ms/step - accuracy: 0.7319 - loss: 0.5447
Epoch 82/100
804/804  3s 2ms/step - accuracy: 0.7387 - loss: 0.5390
Epoch 83/100
804/804  1s 2ms/step - accuracy: 0.7325 - loss: 0.5437
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.7315 - loss: 0.5477
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.7345 - loss: 0.5425
Epoch 86/100
804/804  1s 2ms/step - accuracy: 0.7272 - loss: 0.5518
Epoch 87/100
804/804  3s 2ms/step - accuracy: 0.7366 - loss: 0.5411
Epoch 88/100
804/804  2s 2ms/step - accuracy: 0.7301 - loss: 0.5475
Epoch 89/100
804/804  1s 2ms/step - accuracy: 0.7302 - loss: 0.5468
Epoch 90/100
804/804  3s 2ms/step - accuracy: 0.7340 - loss: 0.5436
Epoch 91/100
804/804  3s 2ms/step - accuracy: 0.7321 - loss: 0.5443
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.7342 - loss: 0.5409
Epoch 93/100
804/804  1s 2ms/step - accuracy: 0.7301 - loss: 0.5456
Epoch 94/100
804/804  3s 2ms/step - accuracy: 0.7348 - loss: 0.5429
Epoch 95/100
804/804  1s 2ms/step - accuracy: 0.7324 - loss: 0.5449
Epoch 96/100
804/804  3s 2ms/step - accuracy: 0.7310 - loss: 0.5442
Epoch 97/100
804/804  3s 2ms/step - accuracy: 0.7315 - loss: 0.5426
Epoch 98/100
804/804  1s 2ms/step - accuracy: 0.7344 - loss: 0.5417
Epoch 99/100
804/804  3s 2ms/step - accuracy: 0.7386 - loss: 0.5398
Epoch 100/100
804/804  1s 2ms/step - accuracy: 0.7345 - loss: 0.5414

In [60]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7266 - loss: 0.5553
Loss: 0.5552793145179749, Accuracy: 0.7266472578048706

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE